.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    color: white;
    margin: 0px 50px;
    margin-bottom: 70px;
    img{
        width: 300px;
        border-radius: 300px;
        border: 5px solid #7cff17d7;
    }
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        font-family: 'Creepster', cursive;
        font-size: xx-large;
        font-weight: lighter;
    }

}