h2{
    font-family: 'Creepster', cursive;
    font-size: xx-large;
    color: white; 
}

.formLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.formulario{
color: white;
display: flex;
gap: 20px;
}